main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-login {
    width: 1000px;
    height: 800px;
    border-radius: 50px;
    box-shadow: 0px 0px 8px #00000040;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

form h1 {
    font-size: 48px;
}

form .choices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.choices h2 {
    font-size: 28px;
}

.choices .choice {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
}

.choice label {
    font-size: 22px;
}   

form .inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 28px;
}

.inputs .input {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.inputs .input label {
    font-size: 22px;
}

.inputs .input input {
    width: 380px;
    height: 60px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 8px #00000040;
    text-indent: 20px;
    font-size: 20px;
    outline: none;
    border: 1px solid #ddd;
    transition: 0.5s;
}

.inputs .input input:focus{
    border-color: #009DDD;
    box-shadow: 0 0 0 3px rgba(0, 157, 221, 0.15);
}


form button {
    width: 240px;
    height: 60px;
    border: none;
    background-color: #009DDD;
    border-radius: 50px;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
}

form button:hover {
    background-color: #0081b5;
}

form .forgot {
    font-size: 18px;
}

form .forgot a {
    text-decoration: none;
    color: #009DDD;
    cursor: pointer;
}

.side-bar {
    width: 50%;
    height: 100%;
    border-radius: 0px 50px 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009DDD;
}