main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.inicio_organizador {
    height: 100%;
    width: 100%;
}

.side-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.organizador-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fifth h1 {
    text-align: left;
    padding-inline: 100px;
    margin-bottom: 20px;
}

.inicio_organizador .side-bar {
    height: calc(100vh - 100px);
    width: 282px;
    justify-content: center;
    align-items: center;
}

.side-bar ul .nav-item{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0 20px;
}

.nav-icon {
    height: 96px;
    width: 96px;
}

.nav-icon img {
    height: 96px;
    width: 96px;
}

.side-bar ul {
    margin-bottom: 150px;
}

header {
    background-color: #F5F5F5;
}
