@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Amiko", sans-serif;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
    /* background-color: aqua; */
}

header .logo {
    height: 40px;
}

header .logo img {
    height: 100%;
    width: 100%;
}

header .search-bar {
    height: 40px;
    width: 500px;
}

header .search-bar label {
    height: 30px;
    width: 30px;
    position: absolute;
    left: 744px;
    top: 34px;
}

header .search-bar input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50px;
    border: 1px solid #00000020;
    padding-inline: 38px;
    font-size: 20px;
}

header .search-bar input:focus {
    outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    display: none;
}

header .user-area {
    width: 90px;
    height: 40px;
    border: 1px solid #00000020;
    /* box-shadow: 0px 0px 8px #00000060; */
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .user-area button {
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
}

header .user-area img {
    height: 40px;
    width: 40px;
}

main {
    flex-grow: 1;
}

.first-section {
    height: 980px;
}

.second-section {
    height: 1300px;
    background-color: #F5F5F5;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-second {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 66px;
}

.container-second h2 {
    font-size: 36px;
    font-weight: 300;
}

.container-categories {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 35px;
}

.categories {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.category {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FAFAFA;
    border-radius: 30px;
    box-shadow: 0px 4px 4px #00000025;
}

.category img {
    width: 75px;
    height: 75px;
}

.category p {
    font-size: 30px;
    font-weight: 400;
}

.events-today {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 35px;
}

.events-today h2 span {
    font-weight: 1000;
}


.events {
    width: 100%;
    padding: 0px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 38px 146px;
}

.event {
    width: 400px;
}

.event img {
    width: 100%;
}

.info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.info > h4 {
    font-size: 30px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.date p {
    font-size: 20px;
    font-weight: normal;
}

.third-section {
    height: 1080px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 200px;
}

.container-third {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.marketing-first {
    width: 707px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.marketing-first h2 {
    font-size: 64px;
    font-weight: 520;
}

.marketing-first p {
    font-size: 22px;
    font-weight: normal;
}

.marketing-second {
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.marketing-second img {
    width: 450px;
    height: 450px;
}

.marketing-second button {
    width: 300px;
    height: 80px;
    border-radius: 30px;
    border: none;
    background-color: #386DBD;
    box-shadow: 0px 0px 8px #00000060;
    font-size: 32px;
    color: #FAFAFA;
}