@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Amiko", sans-serif;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
}

header {
    height: 100px;
    min-height: 100px;
    flex: 0 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 50px;
    position: relative;
}

nav {
    width: 90%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    height: 40px;
}

.logo img {
    height: 100%;
    width: 100%;
}

.search-bar {
    height: 40px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar label {
    height: 30px;
    width: 30px;
    position: relative;
    left: 40px;
}

.search-bar input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50px;
    border: 1px solid #00000020;
    padding-inline: 38px;
    font-size: 20px;
}

.search-bar input:focus {
    outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    display: none;
}

.user-area {
    width: 90px;
    height: 40px;
    border: 1px solid #00000020;
    /* box-shadow: 0px 0px 8px #00000060; */
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.user-area button {
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
}

.user-area img {
    height: 40px;
    width: 40px;
}

nav menu {
    display: block;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    background-color: #FAFAFA;
    border-radius: 20px;
    box-shadow: 0px 0px 8px #00000040;
    left: 1460px;
    top: 160px;
    padding:10px 20px;
    opacity: 0;
    transition: .3s;
}

nav:has(menu.active) .user-area {
    border: 1px solid #009DDD;
}

nav menu.active {
    display: flex;
    /* justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    background-color: #FAFAFA;
    border-radius: 20px;
    box-shadow: 0px 2px 8px #00000060;
    left: 1460px; */
    top: 80px;
    opacity: 100; 
}

nav menu.active a {
    width: 140px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}


main {
    flex-grow: 1;
}

#home {
    display: none;
}

main #home.active {
    display: block;
}

.first-section {
    height: 811px;
    background-image: url(../assets/img/fundo-home.jpg);
    padding-top: 300px;
    padding-inline: 100px;
}

.slogan {
    width: 50%;
    color: #FAFAFA;
}

.slogan h1 {
    font-size: 64px;
}

.slogan p {
    font-size: 24px;
}

.second-section {
    height: 1300px;
    background-color: #F5F5F5;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-second {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 66px;
}

.container-second h2 {
    font-size: 36px;
    font-weight: 300;
}

.container-categories {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 35px;
}

.categories {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.category {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FAFAFA;
    border-radius: 30px;
    box-shadow: 0px 4px 4px #00000025;
    cursor: pointer;
    transition: .2s;
}

.category:hover {
    transform: scale(1.01);
    box-shadow: 0px 2px 8px #00000050;
}

.category img {
    width: 75px;
    height: 75px;
}

.category p {
    font-size: 24px;
    font-weight: 400;
}

.events-today {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 35px;
}

.events-today h2 span {
    font-weight: 1000;
}


.events {
    width: 100%;
    padding: 0px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 38px 146px;
}

.event {
    width: 400px;
    transition: .3s;
}

.event:hover {
    transform: scale(1.01);
}

.event img {
    width: 100%;
}

.info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.info>h4 {
    font-size: 28px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.date p {
    font-size: 18px;
    font-weight: normal;
}

.third-section {
    height: 1080px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 200px;
}

.container-third {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.marketing-first {
    width: 707px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.marketing-first h2 {
    font-size: 64px;
    font-weight: 520;
}

.marketing-first p {
    font-size: 22px;
    font-weight: normal;
}

.marketing-second {
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.marketing-second img {
    width: 450px;
    height: 450px;
}

.marketing-second button {
    width: 300px;
    height: 80px;
    border-radius: 30px;
    border: none;
    background-color: #386DBD;
    box-shadow: 0px 0px 8px #00000060;
    font-size: 32px;
    color: #FAFAFA;
    cursor: pointer;
}

footer {
    width: 100%;
    padding: 20px 120px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.content-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-first {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 200px;
}

.content-first .logo {
    width: 217px;
    height: 60px;
}

.content-first .logo img {
    width: 100%;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 47px;
}

.social-media img {
    width: 40px;
    height: 40px;
}

.content-second {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
}

.links-footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
}

.links-footer h4 {
    font-size: 30px;
}

.links-footer menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.copyrigth {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}