@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Amiko", sans-serif;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
    /* background-color: aqua; */
}

header .logo {
    height: 60px;
}

header .logo img {
    width: 100%;
}

header .search-bar {
    height: 50px;
    width: 600px;
}

header .search-bar label {
    height: 30px;
    width: 30px;
    position: absolute;
    left: 734px;
    top: 34px;
}

header .search-bar input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 0px 8px #00000060;
    padding-inline: 58px;
    font-size: 20px;
}

header .search-bar input:focus {
    outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    display: none;
}

header .user-area {
    width: 124px;
    height: 58px;
    box-shadow: 0px 0px 8px #00000060;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .user-area button {
    height: 58px;
    width: 58px;
    border: none;
    background-color: transparent;
}

header .user-area img {
    height: 58px;
    width: 58px;
}